#space {
    background-image: url('space.png');
    width: 900px;
    height: 700px;
}

.player {
    width: 55px;
    height: 55px;
    background-size: contain;
    background-image: url('player.png');
    position: absolute;
}

.enemy {
    background-size: contain;
    width: 70px;
    height: 75px;
    background-image: url('enemy.png');
    position: relative;
}

.missile {
    position: absolute;
    background-color: yellowgreen;
    width: 5px;
    height: 10px;
}